alembic
asyncpg
greenlet
itsdangerous
httpx
fastapi
mypy
mypy-baseline
mypy-extensions
polyfactory
pre-commit
prometheus_fastapi_instrumentator
pydantic-settings
pytest
pytest-asyncio
pytest-env
pytest-mock
pytest-randomly
python-snappy
pytest-timeout
psycopg2-binary
redis
ruff
sqlalchemy
sqladmin
tzdata
uvicorn
