alembic
bcrypt==4.0.1
asyncpg
coverage
greenlet
itsdangerous
httpx
fastapi
mypy
mypy-baseline
mypy-extensions
passlib
polyfactory
pre-commit
prometheus_fastapi_instrumentator
pydantic-settings
pytest
pytest-asyncio
pytest-env
pytest-mock
pytest-randomly
python-snappy
pytest-timeout
psycopg2-binary
redis
ruff
sqlalchemy
sqladmin
typer
tzdata
uvicorn
