alembic
asyncpg
greenlet
fastapi
mypy
mypy-baseline
mypy-extensions
polyfactory
pre-commit
prometheus_fastapi_instrumentator
pydantic-settings
pytest
pytest-asyncio
pytest-env
pytest-mock
pytest-timeout
redis
ruff
sqlalchemy
sqladmin
uvicorn
